body{
    background-image: url("../images/marek-okon-1398447-unsplash.jpg");
}
p{
    font-size: 2rem;
    color: black;
}
#picone{
    position: relative top left ;
}
#pictwo{ 
    position: relative top right;
}
#picthree{
    position: relative bottom left;
}
#picfour{
    position: relative bottom right;
}
.nav-item{
    text-align: center;
}
h1{
    background-color: black;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    color: aqua;
    font-family: sans-serif;
}
